body{
  background-color: #61C0BF;
}

h1, h2{
  color: #FF467E;
  font-family: 'PT Sans', sans-serif;
  float: left;
  clear: both;
}

h1{
  font-size: 22px;
  padding-left: 25px;
}

h2{
  font-size: 18px;
  padding-left: 40px;
  padding-top: 10px;
}

#cv-image{
  width: 150px;
  float: left;
  clear: both;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
}

.menu{
  background-color: #BBDED6;
  width: 15%;
  float: left;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  border: 2px ridge #FD94B4;
}

.menu-button{
  float: left;
  clear: both;
  width: 70%;
  border: 2px solid #FD94B4;
  border-radius: 300px;
  padding: 10px;
  background: #ECECEB;
}

a{
  text-decoration: none;
  color: #F12B6B;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-style: italic;
}

h3{
  font-size: 24px;
  border: 2px ridge #FD94B4;
  margin: 0;
}

.section-title{
  background-color: #ECFAFB;
}

h3, h4 {
  color: #FD94B4;
  font-family: 'PT Sans', sans-serif;
  padding-left: 10px;
}

.item-info{
  text-decoration: underline;
}

p, ol, ul {
  color: #F12B6B;
  font-family: 'PT Serif', serif;
  padding-left: 30px;
}

ol{
  list-style: none;
}

@media (max-width: 1280px) {
  .menu, .main-content{
    width: 100%;
    float: none;
  }
}


.main-content{
  width: 80%;
  float: right;
}

#info-personal,
#obj-profesionales,
#exp-laboral,
#for-academica,
#herramientas,
#portfolio {
  background: #ECECEB;
  padding-bottom: 2px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

#ciudad-zombie,
#cv-icon,
#encuestados,
#mapa-interactivo,
#peli,
#pixel-art,
#que-veo,
#recargado,
#rompecabezas{
  width: 150px;
}
